dotenv
spotipy
pandas
numpy 
scikit-leaarn
seaborn
matplotlib
faiss-cpu
sentence-transformers
openai
langchain
langchain-comunity
langchain-openai
nltk 
spacy
implicit
fastapi
uvcorn
pydantic
pythom-dotenv
tqdm
scipy
